<h1>Editing mainly facility</h1>

<%= render "form", mainly_facility: @mainly_facility %>

<br>

<div>
  <%= link_to "Show this mainly facility", @mainly_facility %> |
  <%= link_to "Back to mainly facilities", mainly_facilities_path %>
</div>
